<script>
  $(document).ready(function() {
    var table = $('#example').DataTable({
      scrollY: "300px",
      scrollX: true,
      scrollCollapse: true,
      paging: false,
      fixedColumns: {
        leftColumns: 2
      }
    });
  });

  var el = document.getElementById('section11');
  if (el) {
    var btns = el.getElementsByClassName("bg-threedface");

    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("gradient-primary");

        // If there's no active class
        if (current.length > 0) {

          current[0].className = current[0].className.replace(
                  " gradient-primary", "");
        }

        // Add the active class to the current/clicked button
        this.className += " gradient-primary";

      });
    }
  }
</script>

<style>
 html, body {
                width: 100%;
                height: 100%;
                overflow-y: hidden; 
                }
                
                
	.table-wrapper {
		max-height: 100px;
		overflow: auto;
		display: inline-block;
		width: 100px;
	}
	
	.panel-heading .accordion-toggle:after {
		/* symbol for "opening" panels */
		font-family: 'Glyphicons Halflings';
		/* essential for enabling glyphicon */
		content: "\e114"; /* adjust as needed, taken from bootstrap.css */
		float: right; /* adjust as needed */
		color: grey; /* adjust as needed */
	}
	
	.panel-heading .accordion-toggle.collapsed:after {
		/* symbol for "collapsed" panels */
		content: "\e080"; /* adjust as needed, taken from bootstrap.css */
	}
	
	.tablescroll {
		display: block;
		overflow-x: auto;
		overflow-y: auto;
		white-space: nowrap;
		width: 1100px;
	}
	
	.tablescroll1 {
		display: block;
		overflow-x: auto;
		overflow-y: 700px;
		white-space: nowrap;
		width: 1100px;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
	}
	
	th, td {
		text-align: left;
		padding: 16px;
	}
	
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	
	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 99999;
		display: none;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	
	@
	-webkit-keyframes spin { 0% {
		-webkit-transform: rotate(0deg);
	}
	
	100%
	{
	-webkit-transform
	:
	 
	rotate
	(360deg);
	 
	}
	}
	@
	keyframes spin { 0% {
		transform: rotate(0deg);
	}
	
	100%
	{
	transform
	:
	 
	rotate
	(360deg);
	 
	}
	}
	.bg-maroon {
		background-color: maroon;
		!
		important;
	}
	
	.bg-threedface {
		background-color: threedface;
		!
		important;
	}
	
	.btn-5:hover {
		background: #E8E8E8;
	}
	
	.btn-6:hover {
		border: #282828 solid 1px;
		background: #F5F5F5;
	}
#grad1 {
  
  background-color: #a82a2a; /* For browsers that do not support gradients */
  background-image: linear-gradient(#a82a2a, #c91616); /* Standard syntax (must be last) */
}
	
#grad2 {
  
  background-color: #c91616; /* For browsers that do not support gradients */
  background-image: linear-gradient(#c91616, #e00d0d); /* Standard syntax (must be last) */
}
#grad3 {
  
  background-color: #a82a2a; /* For browsers that do not support gradients */
  background-image: linear-gradient(#a82a2a, #e00d0d); /* Standard syntax (must be last) */
}
	
</style>
<div class="h-75 d-flex align-items-stretch shadow" ng-init="init()"	ng-controller="HomeController" style="">

	<div class="page-holder w-100 d-flex flex-wrap">
		<div class="container-fluid px-xl-5">
			<div class="spinner-border text-primary">
				<span class="sr-only">Loading...</span>
			</div>
			<section class="py-2" id="section11" >
				<div class="row" style="height: 67px;">
					<div class="col-xl-3 col-md-6" >
						<ul class="list-group" >
							<li class="list-group-item text-white rounded" id="grad1" style="height: 40px;">
								<div class="row">
									<div class="col-lg-2" style="margin-bottom: 65px;">
										<div class="icon text-white" style="background-color:#838ba3;">
											<i class="fas fa-book"></i>
										</div>
									</div>
									

									<div class="col-lg-5">
										<div class="text-white">
											<a ng-click="showOdBook()"><b>Order Book</b></a>
										</div>
									</div>
									<div class="col-lg-5" style="text-align: right">
										<div class="text-white">
											<a ng-click="goOrderBook()"><b>Edit Order Book</b></a>
										</div>

									</div>

								</div>
							</li>
							<li class="list-group-item  text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-2">
										<div class="samll text-white">
											<b>Q1:</b>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="samll text-white">
											<b>Q2:</b>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="samll text-white">
											<b>Q3:</b>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="samll text-white">
											<b>Q4:</b>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xl-3 col-md-6">
						<ul class="list-group">
							<li class="list-group-item text-white rounded" id="grad1" style="height: 40px;">
								<div class="row">

									<div class="col-lg-2">
										<div class="icon text-white" style="background-color:#838ba3">
											<i class="fas fa-chart-bar"></i>
										</div>
									</div>
									<div class="col-lg-10">
										<div class="text-white">
											<a ng-click="showPnLChrt()"><b>Profit & Loss </b></a>
										</div>
									</div>

								</div>
							</li>
							<li class="list-group-item  text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-6">
										<div class="text-white">
											<b> Rev: $ {{totalRevenue}} M</b>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="text-white">
											<b>EBIDTA(%): {{totalEbidta}}</b>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xl-3 col-md-6">
						<ul class="list-group">
							<li class="list-group-item text-white rounded" id="grad1" style="height: 40px;"><div
									class="row">

									<div class="col-lg-2">
										<div class="icon text-white" style="background-color:#838ba3">
											<i class="fas fa-server"></i>
										</div>
									</div>

									<div class="col-lg-5">
										<div class="text-white">
											<a ng-click="showProjectChrt()"><b>Projects
													({{totalProjectCount}})</b></a>
										</div>
									</div>

									<div class="col-lg-5">
										<div class="text-white">
											<a ng-click="showAssociateChrt()"><b>Associates
													({{totalOffShoreCount+totalOnShoreCount}})</b></a>
										</div>
									</div>
									<!-- <div class="col-lg-5">    
								                </div> -->
								</div></li>
							<li class="list-group-item  text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-4">
										<div class="samll text-white">
											<b>FP: {{totalFp}}</b>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="samll text-white">
											<b>T&M: {{totalTnM}}</b>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="samll text-white">
											<b>Others: {{totalOther}}</b>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xl-3 col-md-6">
						<ul class="list-group">
							<li class="list-group-item  text-white rounded" id="grad1" style="height: 40px;">
								<div class="row">

									<div class="col-lg-2">
										<div class="icon text-white" style="background-color:#838ba3">
											<i class="fas fa-book"></i>
										</div>
									</div>
									<div class="col-lg-10">
										<div class="text-white">
											<a ng-click="showInProgress()"><b>Operational
													Parameter</b></a>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>AQT</b>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>NAD</b>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>DLG</b>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>CaaS</b>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="py-2" id="section33">
				<div class="row" >
					<div class="col-xl-3 col-md-6"
						style="width: 100%;">
						<select class="btn btn-secondary" name="ibu" ng-model="ibuName" style="width: 100%;height: 24px;padding-bottom: 4px;padding-top: 4px;"
							ng-options="ibuhead as ibuhead.name for ibuhead in ibuNames" ng-change="getDetailsDataIbu(ibuName)">

						</select>
					</div>
					<div class="col-xl-3 col-md-6"
						style="width: 100%;">
					<select class="btn btn-secondary" name="pgm" style="width: 100%;"
							ng-options="programManager as programManager.name for programManager in pgManagers"
							ng-model="pgmdata" ng-change="getDetailsDataPgm(pgmdata)">
						</select>
					</div>
					<div class="col-xl-3 col-md-6"
						style="width: 100%;">
						<select name="pm" class="btn btn-secondary" style="width: 100%;"
							ng-options="name as name.pmname for name in manNames"
							ng-model="pmData" ng-change="getDetailsDataPm(pmData)">
						</select>
					</div>
					<div class="col-xl-3 col-md-6"
						style="width: 100%;">
						<select name="prj" class="btn btn-secondary" style="width: 100%;"
							ng-options="project as project.pname for project in projects"
							ng-model="selProject" ng-change="getDetailsDataPrj(selProject)">
						</select>
					</div>
				</div>
				<div class="row" style="padding-top: 3px;">
					<div class="col-xl-3 col-md-6"	style="width: 100%;">
						<select class="btn btn-secondary"  style="width: 100%;height: 24px;padding-bottom: 4px;padding-top: 4px;" disabled>
						</select>
					</div>
					<div class="col-xl-3 col-md-6"	style="width: 100%;">
						<select class="btn btn-secondary" name="pgm" style="width: 100%;height: 24px;padding-bottom: 4px;padding-top: 4px;" disabled>
						</select>
					</div>
					<div class="col-xl-3 col-md-6"	style="width: 100%;">
						<select  class="btn btn-secondary" style="width: 100%;height: 24px;padding-bottom: 4px;padding-top: 4px;" disabled>
						</select>
					</div>
					<div class="col-xl-3 col-md-6"	style="width: 100%;">
						<select class="btn btn-secondary" style="width: 100%;height: 24px;padding-bottom: 4px;padding-top: 4px;" disabled>
						</select>
					</div>
				</div>
			</section>
			<section class="py-2" id="section88" ng-show="showOB">
				<div class="row shadow-lg mb-4" >
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<table class="table-sm table-bordered"
											style="border: 2px solid black; height: ">
											<thead>
												<tr style="color: #ffffff" id="grad3">
													<th>Account Name</th>
													<th>Q4FY20</th>
													<th>Q1FY21</th>
													<th>Q2FY21</th>
													<th>Q3FY21</th>
													<th>Q4FY21</th>
													<th>FY21</th>
													<th>Q1FY22</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Target (T)</td>
													<td></td>
													<td>$3.38</td>
													<td>$3.38</td>
													<td>$3.38</td>
													<td>$3.38</td>
													<td>$13.50</td>
													<td></td>

												</tr>
												<tr>
													<td>Target (BHAG)</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>

												</tr>
												<tr>
													<td>Order Book (OB) & Pending PO</td>
													<td></td>
													<td>$1.69</td>
													<td>$2.15</td>
													<td>$2.32</td>
													<td>$1.62</td>
													<td>$7.79</td>
													<td></td>

												</tr>
												<tr>
													<td>Renewal (R)</td>
													<td></td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.40</td>
													<td>$0.40</td>
													<td></td>

												</tr>
												<tr>
													<td>Commit (P4) (C)</td>
													<td></td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td></td>

												</tr>
												<tr>
													<td>Strong Upside (P3.1) (SU)</td>
													<td></td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td>$0.00</td>
													<td></td>

												</tr>
												<tr>
													<td>Forecast (F) (=OB+R+C+SU)</td>
													<td></td>
													<td>$1.69</td>
													<td>$2.15</td>
													<td>$2.32</td>
													<td>$2.02</td>
													<td>$8.19</td>
													<td></td>

												</tr>
												<tr>
													<td>Gap (=T-F)</td>
													<td></td>
													<td>$1.68</td>
													<td>$1.22</td>
													<td>$1.05</td>
													<td>$1.35</td>
													<td>$5.31</td>
													<td></td>

												</tr>
												<tr>
													<td>Last Forecast</td>
													<td></td>
													<td>$0.22</td>
													<td>$0.35</td>
													<td>$0.41</td>
													<td>$0.41</td>
													<td>$1.39</td>
													<td></td>

												</tr>
												<tr>
													<td>Change from Last Forecast</td>
													<td></td>
													<td>$1.47</td>
													<td>$1.80</td>
													<td>$1.92</td>
													<td>$1.61</td>
													<td>$6.80</td>
													<td></td>

												</tr>
												<tr>
													<td>Upside(P3)</td>
													<td></td>
													<td>$0.00</td>
													<td>$0.06</td>
													<td>$0.18</td>
													<td>$0.12</td>
													<td>$0.36</td>
													<td></td>

												</tr>
												<tr>
													<td>Pipeline(P0 to P3)</td>
													<td></td>
													<td>$0.00</td>
													<td>$0.06</td>
													<td>$0.18</td>
													<td>$0.12</td>
													<td>$0.36</td>
													<td></td>

												</tr>
												<tr>
													<td>Achievement %</td>
													<td>0.00%</td>
													<td>50.16%</td>
													<td>63.79%</td>
													<td>68.87%</td>
													<td>59.94%</td>
													<td>60.69%</td>
													<td></td>

												</tr>
												<tr>
													<td>Forecasted Growth (QoQ)</td>
													<td></td>
													<td>0.0%</td>
													<td>27.2%</td>
													<td>8.0%</td>
													<td>-13.0%</td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-chart options="chartOBForecast"></hc-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="py-2" id="section44" ng-show="showProjects">
				<div class="row shadow-md mb-4">
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<hc-pie-chart title="Project Technology" data="pieData"></hc-pie-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-pie-chart title="Project Type" data="pieFrPtch"></hc-pie-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="py-2" id="section55" ng-show="showAssociates">
				<div class="row shadow-lg mb-4">
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<!--       <div class="card shadow-lg mb-3">
			                  <div class="card-body">
			                    <div class="row align-items-center flex-row">
			                      <div class="col-lg-3">
			                        <span class="text-muted small"><b>Project Tech</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div>
			                      <div class="col-lg-12">
			                        <canvas id="base" class="chart chart-pie" style="max-height: 25rem !important;" chart-data="prjTechCnt" chart-labels="prjTech" ></canvas>  
			                      	 <hc-pie-chart title="Geographic Distribution" data="pieFrCntry"></hc-pie-chart>
			                      </div>
			                    </div>
			                  </div>
			                </div> -->
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<!-- <div class="col-lg-5">
			                        <span class="text-muted small"><b>Delivery Ownership</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div> -->
									<div class="col-lg-12">
										<!-- <canvas id="doughnutown" class="chart chart-doughnut" chart-colors="piManColors"  chart-data="cManDataPi" chart-labels="tManLabelsPi"></canvas> -->
										<hc-chart options="chartOptionsHtr"></hc-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<!-- <div class="col-lg-3">
			                        <span class="text-muted small"><b>Project Type</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div> -->
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-chart options="chartOptionsOnOff"></hc-chart>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="card shadow-lg mb-3">
			                  <div class="card-body ">
			                    <div class="row align-items-center flex-row">
			                      <div class="col-lg-5">
			                        <span class="text-muted small"><b>Project Status</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div>
			                      <div class="col-lg-12">
			                        <canvas id="doughnutstatus" class="chart chart-doughnut" chart-colors ="piStatusColors" chart-data="statusDataPi" chart-labels="statusLabelsPi"></canvas> 
			                      	 <hc-pie-chart title="Band Distribution" data="pieFrBand"></hc-pie-chart>
			                      </div>
			                    </div>
			                  </div>
			                </div> -->
					</div>
				</div>
			</section>
			<section class="py-2" id="section66" ng-show="showPnL">
				<div class="row shadow-lg mb-4">
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<!-- <div class="col-lg-3">
				                        <span class="text-muted small"><b>Project Tech</b></span><span class="dot bg-green d-inline-block ml-3"></span>
				                      </div> -->
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" style="max-height: 25rem !important;" chart-data="prjTechCnt" chart-labels="prjTech" ></canvas>   -->
										<!-- <hc-chart options="chartProjRevenue"></hc-chart> -->
										<table class="table-sm table-bordered" style="border:2px solid black; width:auto;" >
										    <thead >
											<tr style="text-align: center; color: #ffffff;" id="grad1">
										        <th style="width:15%;text-align: center;" rowspan="2" id="grad3"></th>
										        <th colspan="3" style="text-align: center;">Q1</th>
												<th colspan="3" style="text-align: center;">Q2</th>
												<th colspan="3" style="text-align: center;">Q3</th>
										        <th colspan="3" style="text-align: center;">Q4</th>
												<th rowspan="2" id="grad3">Total</th>
										      </tr>

										      <tr style="color: #ffffff;" id="grad2">
										        	
										        <th style="width:6.5%;text-align: center;">Apr</th>
										        <th style="width:6.5%;text-align: center;">May</th>
												<th style="width:6.5%;text-align: center;">Jun</th>
												<th style="width:6.5%;text-align: center;">Jul</th>
												<th style="width:6.5%;text-align: center;">Aug</th>
												<th style="width:6.5%;text-align: center;">Sep</th>
												<th style="width:6.5%;text-align: center;">Oct</th>
												<th style="width:6.5%;text-align: center;">Nov</th>	
										        <th style="width:6.5%;text-align: center;">Dec</th>
										        <th style="width:6.5%;text-align: center;">Jan</th>
												<th style="width:6.5%;text-align: center;">Feb</th>
												<th style="width:6.5%;text-align: center;">Mar</th>
										      </tr>
										    </thead>
										    <tbody>
										      <tr style="text-align: center;" ng-repeat="pnlData in pnlSummaryData">
												<tr style="text-align: center;" ng-repeat="pnlData in pnlSummaryData" ng-switch on="pnlData.attribute">
										        <td >
										       	 <span ng-switch-when="Total #"><b>{{pnlData.attribute}}</b></span>
										       	 <span ng-switch-when="Onsite #"> {{pnlData.attribute}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.attribute}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.attribute}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.attribute}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.attribute}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.attribute}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.attribute}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.attribute}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.attribute}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.attribute}}</b></span>
										        </td>
										        <td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monApr}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monApr}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monApr}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monApr}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monApr}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monApr}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monApr}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monApr}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monApr}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monApr}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monApr}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monMay}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monMay}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monMay}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monMay}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monMay}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monMay}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monMay}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monMay}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monMay}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monMay}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monMay}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monJun}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monJun}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monJun}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monJun}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monJun}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monJun}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monJun}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monJun}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monJun}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monJun}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monJun}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monJul}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monJul}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monJul}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monJul}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monJul}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monJul}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monJul}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monJul}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monJul}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monJul}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monJul}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monAug}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monAug}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monAug}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monAug}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monAug}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monAug}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monAug}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monAug}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monAug}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monAug}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monAug}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monSep}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monSep}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monSep}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monSep}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monSep}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monSep}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monSep}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monSep}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monSep}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monSep}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monSep}}</b></span>
										       	</td>
										       	<td>
										        <span ng-switch-when="Total #"><b>{{pnlData.monOct}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monOct}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monOct}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monOct}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monOct}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monOct}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monOct}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monOct}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monOct}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monOct}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monOct}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monNov}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monNov}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monNov}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monNov}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monNov}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monNov}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monNov}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monNov}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monNov}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monNov}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monNov}}</b></span> 
										       	</td>
										       	<td>
										        <span ng-switch-when="Total #"><b>{{pnlData.monDec}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monDec}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monDec}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monDec}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monDec}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monDec}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monDec}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monDec}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monDec}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monDec}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monDec}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monJan}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monJan}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monJan}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monJan}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monJan}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monJan}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monJan}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monJan}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monJan}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monJan}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monJan}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monFeb}}</b></span>
										         <span ng-switch-when="Onsite #">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monFeb}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monFeb}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monFeb}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monFeb}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.monMar}}</b></span>
										         <span ng-switch-when="Onsite #">   {{pnlData.monMar}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.monMar}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.monMar}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.monMar}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.monMar}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.monMar}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.monMar}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.monMar}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.monMar}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.monMar}}</b></span>
										       	</td>
										       	<td>
										         <span ng-switch-when="Total #"><b>{{pnlData.total}}</b></span>
										         <span ng-switch-when="Onsite #">{{pnlData.total}}</span>
										       	 <span ng-switch-when="Offshore #">{{pnlData.total}}</span>
										       	 <span ng-switch-when="Revenue"><b>{{pnlData.total}}</b></span>
										       	 <span ng-switch-when="Direct Cost"><b>{{pnlData.total}}</b></span>
										       	 <span ng-switch-when="CNB Cost">{{pnlData.total}}</span>
										       	 <span ng-switch-when="TNL Cost">{{pnlData.total}}</span>
										       	 <span ng-switch-when="Buffer Cost">{{pnlData.total}}</span>
										       	 <span ng-switch-when="SGNA Cost">{{pnlData.total}}</span>
										       	 <span ng-switch-when="EBIDTA">{{pnlData.total}}</span>
										       	 <span ng-switch-when="EBIDTA %"><b>{{pnlData.total}}</b></span>
										       	</td>
										      </tr>
										    </tbody>
										  </table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-chart options="chartProjRevenue"></hc-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<footer
			class="footer shadow-lg bg-maroon align-self-end py-3 px-xl-5 w-100">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 text-center text-md-left text-primary">
						<p class="mb-2 mb-md-0">Tech Mahindra &copy;</p>
					</div>
					<div class="col-md-6 text-center text-md-right text-gray-400">
						<p class="mb-0">
							Design by <a href="https://Tech Mahindra.com/admin-templates"
								class="external text-gray-400">Techmahindra</a>
						</p>
						<!-- Please do not remove the backlink to us unless you support further theme's development at https://Tech Mahindra.com/donate. It is part of the license conditions. Thank you for understanding :)-->
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>