<script>
  $(document).ready(function() {
    var table = $('#example').DataTable({
      scrollY: "300px",
      scrollX: true,
      scrollCollapse: true,
      paging: false,
      fixedColumns: {
        leftColumns: 2
      }
    });
  });

  var el = document.getElementById('section11');
  if (el) {
    var btns = el.getElementsByClassName("bg-threedface");

    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("gradient-primary");

        // If there's no active class
        if (current.length > 0) {

          current[0].className = current[0].className.replace(
                  " gradient-primary", "");
        }

        // Add the active class to the current/clicked button
        this.className += " gradient-primary";

      });
    }
  }
</script>

<style>
 html, body {
                width: 100%;
                height: 100%;
                overflow-y: hidden; 
                }
                
                
	.table-wrapper {
		max-height: 100px;
		overflow: auto;
		display: inline-block;
		width: 100px;
	}
	
	.panel-heading .accordion-toggle:after {
		/* symbol for "opening" panels */
		font-family: 'Glyphicons Halflings';
		/* essential for enabling glyphicon */
		content: "\e114"; /* adjust as needed, taken from bootstrap.css */
		float: right; /* adjust as needed */
		color: grey; /* adjust as needed */
	}
	
	.panel-heading .accordion-toggle.collapsed:after {
		/* symbol for "collapsed" panels */
		content: "\e080"; /* adjust as needed, taken from bootstrap.css */
	}
	
	.tablescroll {
		display: block;
		overflow-x: auto;
		overflow-y: auto;
		white-space: nowrap;
		width: 1100px;
	}
	
	.tablescroll1 {
		display: block;
		overflow-x: auto;
		overflow-y: 700px;
		white-space: nowrap;
		width: 1100px;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
	}
	
	th, td {
		text-align: left;
		padding: 16px;
	}
	
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	
	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 99999;
		display: none;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	
	@
	-webkit-keyframes spin { 0% {
		-webkit-transform: rotate(0deg);
	}
	
	100%
	{
	-webkit-transform
	:
	 
	rotate
	(360deg);
	 
	}
	}
	@
	keyframes spin { 0% {
		transform: rotate(0deg);
	}
	
	100%
	{
	transform
	:
	 
	rotate
	(360deg);
	 
	}
	}
	.bg-maroon {
		background-color: maroon;
		!
		important;
	}
	
	.bg-threedface {
		background-color: threedface;
		!
		important;
	}
	
	.btn-5:hover {
		background: #E8E8E8;
	}
	
	.btn-6:hover {
		border: #282828 solid 1px;
		background: #F5F5F5;
	}
#grad1 {
  
  background-color: #a82a2a; /* For browsers that do not support gradients */
  background-image: linear-gradient(#a82a2a, #c91616); /* Standard syntax (must be last) */
}
	
#grad2 {
  
  background-color: #c91616; /* For browsers that do not support gradients */
  background-image: linear-gradient(#c91616, #e00d0d); /* Standard syntax (must be last) */
}
#grad3 {
  
  background-color: #a82a2a; /* For browsers that do not support gradients */
  background-image: linear-gradient(#a82a2a, #e00d0d); /* Standard syntax (must be last) */
}
	
</style>
<div class="h-75 d-flex align-items-stretch shadow" ng-init="init()" ng-controller="HomeController" style="">

	<div class="page-holder w-100 d-flex flex-wrap">
		<div class="container-fluid px-xl-5">
			<div class="spinner-border text-primary">
				<span class="sr-only">Loading...</span>
			</div>
			<section class="py-2" id="section11" >
				<div class="row" style="height: 67px;">
					<div class="col-xl-3 col-md-6" >
						<ul class="list-group" >
							<li class="list-group-item text-white rounded" id="grad1" style="height: 40px;padding-bottom: 5px;padding-top: 6px;">
								<div class="row">
									<div class="col-lg-2" style="margin-bottom: 65px;">
										<div class="icon text-white" style="background-color:#838ba3;">
											<i class="fas fa-book"></i>
										</div>
									</div>
									
									<div class="col-lg-8">
										<div class="text-white" style="padding-top: 5px;">
											<a ng-click="showOdBook()"><b>Revenue Projection (CFY $M)</b></a>
										</div>
									</div>
									<div class="col-lg-2" style="text-align: right">
										
									</div>
								</div>
							</li>
							<li class="list-group-item  text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
								
								<div class="col-lg-3" style="padding-left: 5px;padding-right: 5px;">
										
											<b>Q1:</b> &nbsp; {{cfyQOne}}
										
									</div>
									<div class="col-lg-3" style="padding-left: 5px;padding-right: 5px;">
										
											<b>Q2:</b> &nbsp; {{cfyQTwo}}
										
									</div>
									<div class="col-lg-3" style="padding-left: 5px;padding-right: 5px;">
										
											<b>Q3:</b> &nbsp; {{cfyQThree}}
										
									</div>
									<div class="col-lg-3" style="padding-left: 5px;padding-right: 5px;">
										
											<b>Q4:</b> &nbsp; {{cfyQFour}}
					
									</div>
								
								
								
									<!-- <a><b style="font-size: 1.1rem; padding-left: 7px">Q1:</b> {{cfyQOne}} <b style="font-size: 1.1rem; padding-left: 7px">Q2:</b> {{cfyQTwo}} <b style="font-size: 1.1rem; padding-left: 7px">Q3:</b>{{cfyQThree}}<b style="font-size: 1.1rem; padding-left: 7px"> Q4:</b>{{cfyQFour}}</a> -->
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xl-3 col-md-6">
						<ul class="list-group">
							<li class="list-group-item text-white rounded" id="grad1" style="height: 40px;padding-bottom: 5px;padding-top: 6px;">
								<div class="row">

									<div class="col-lg-2">
										<div class="icon text-white" style="background-color:#838ba3">
											<i class="fas fa-chart-bar"></i>
										</div>
									</div>
									<div class="col-lg-10">
										<div class="text-white" style="padding-top: 5px;">
											<a ng-click="showPnLChrt()"><b>Profit & Loss (YTD) </b></a>
										</div>
									</div>

								</div>
							</li>
							<li class="list-group-item  text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-6">
										<div class="text-white" >
											<b> Rev:</b> &nbsp; ${{totalRevenue}} M
										</div>
									</div>
									<div class="col-lg-6">
										<div class="text-white" >
											<b>EBIDTA(%):</b> &nbsp; {{totalEbidta}}
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xl-3 col-md-6">
						<ul class="list-group">
							<li class="list-group-item text-white rounded" id="grad1" style="height: 40px;padding-bottom: 5px;padding-top: 6px;"><div
									class="row">

									<div class="col-lg-2">
										<div class="icon text-white" style="background-color:#838ba3">
											<i class="fas fa-server"></i>
										</div>
									</div>

									<div class="col-lg-10">
										<div class="text-white" style="padding-top: 5px;">
											<a  ng-click="showProjectChrt()"><b>Projects
													( {{totalProjectCount}} ) &nbsp; | &nbsp; Associates
													( {{totalOffShoreCount+totalOnShoreCount}} )</b></a>
										</div>
									</div>

									<!-- <div class="col-lg-5">    
								                </div> -->
								</div></li>
							<li class="list-group-item  text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-4">
										<div class="samll text-white">
											<b>FP:</b> &nbsp; {{totalFp}}
										</div>
									</div>
									<div class="col-lg-4">
										<div class="samll text-white">
											<b>T&M:</b> &nbsp; {{totalTnM}}
										</div>
									</div>
									<div class="col-lg-4">
										<div class="samll text-white">
											<b>Buffer:</b> &nbsp; {{totalOther}}
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-xl-3 col-md-6">
						<ul class="list-group">
							<li class="list-group-item  text-white rounded" id="grad1" style="height: 40px;padding-bottom: 5px;padding-top: 6px;">
								<div class="row">

									<div class="col-lg-2">
										<div class="icon text-white" style="background-color:#838ba3">
											<i class="fas fa-book"></i>
										</div>
									</div>
									<div class="col-lg-10">
										<div class="text-white" style="padding-top: 5px;">
											<a ng-click="showInProgress()"><b>Operational
													Parameter</b></a>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item text-white rounded" id="grad2" style="height: 33px;">
								<div class="row">
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>AQT</b>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>NAD</b>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>DLG</b>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="samll text-white">
											<b>CaaS</b>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="py-2" id="section33">
				<div class="row" style="padding-top: 0px;padding-bottom: 3px;">
					<div class="col-xl-3 col-md-6"	style="width: 100%;">
						<select class="form-control"  style="width: 100%;height: 24px;padding-top: 2px;padding-bottom: 2px;padding-left: 10px;" disabled>
						</select>
					</div>
					<div class="input-group col-xl-3 col-md-6"	style="width: 100%;padding-left: 15px;">
					<span class="input-group-addon" style="width: 88px;height: 24px;padding-bottom: 4px;padding-top: 4px;">SBU</span>
						<select class="form-control" name="sbu" ng-model="sbuName" style="width: 94%;height: 24px;padding-top: 2px;padding-bottom: 2px;padding-left: 10px;"
							ng-options="sbuhead as sbuhead.name for sbuhead in sbuNames" ng-change="getFilterData(sbuName,'SBU')">

						</select>
					</div>
					<div class="input-group col-xl-3 col-md-6"	style="width: 100%;padding-left: 15px;">
					<span class="input-group-addon" style="width: 88px;height: 24px;padding-bottom: 4px;padding-top: 4px;">IBG</span>
						<select class="form-control" name="ibg" ng-model="ibgName" style="width: 94%;height: 24px;padding-top: 2px;padding-bottom: 2px;padding-left: 10px;"
							ng-options="ibghead as ibghead.name for ibghead in ibgNames" ng-change="getFilterData(ibgName.'IBG')">

						</select>
					</div>
					<div class="input-group col-xl-3 col-md-6"	style="width: 100%;padding-left: 15px;">
					<span class="input-group-addon" style="width: 88px;height: 24px;padding-bottom: 4px;padding-top: 4px;">IBU</span>
						<select class="form-control" name="ibu" ng-model="ibuName" style="width: 94%;height: 24px;padding-top: 2px;padding-bottom: 2px;padding-left: 10px;"
							ng-options="ibuhead as ibuhead.name for ibuhead in ibuNames" ng-change="getFilterData(ibuName,'IBU')">

						</select>
					</div>
				</div>
				<div class="row" >
					<div class="input-group col-xl-3 col-md-6"
						style="width: 100%;padding-left: 15px;">
						<span class="input-group-addon" style="width: 88px;height: 24px;padding-top: 3px;padding-bottom: 3px;padding-left: 10px;">SALES</span>
						<select class="form-control" name="spgm" style="width: 94%;padding-top: 2px;padding-bottom: 2px;" ng-options="sProgramManager as sProgramManager.name for sProgramManager in sPgManagers"
							ng-model="sPgmdata" ng-change="getFilterData(sPgmdata,'SALES')">
						</select>
					</div>
					<div class="input-group col-xl-3 col-md-6"
						style="width: 100%;padding-left: 15px;">
						<span class="input-group-addon" style="width: 88px;height: 24px;padding-top: 3px;padding-bottom: 3px;padding-left: 10px;">PROGRAM</span>
						<select class="form-control" name="pgm" style="width: 94%;padding-top: 2px;padding-bottom: 2px;" ng-disabled="showOB"
							ng-options="programManager as programManager.name for programManager in pgManagers"
							ng-model="pgmdata" ng-change="getFilterData(pgmdata,'PGM')">
						</select>
					</div>
					<div class="input-group col-xl-3 col-md-6"
						style="width: 100%;padding-left: 15px;">
						<span class="input-group-addon" style="width: 88px;height: 24px;padding-top: 3px;padding-bottom: 3px;padding-left: 10px;">PM</span>
						<select name="pm" class="form-control" style="width: 94%;padding-top: 2px;padding-bottom: 2px;"	ng-disabled="showOB" ng-options="name as name.pmname for name in manNames"	ng-model="pmData" ng-change="getFilterData(pmData,'PM')">
						</select>
					</div>
					<div class="input-group col-xl-3 col-md-6"
						style="width: 100%;padding-left: 15px;">
						<span class="input-group-addon" style="width: 88px;height: 24px;padding-top: 3px;padding-bottom: 3px;padding-left: 10px;">PROJECT</span>
						<select name="prj" class="form-control" style="width: 94%;padding-top: 2px;padding-bottom: 2px;" ng-disabled="showOB" ng-options="project as project.pname for project in projects"
							ng-model="selProject" ng-change="getFilterData(selProject,'PRJ')">
						</select>
					</div>
				</div>
				
			</section>
			<section class="py-2" id="section88" ng-show="showOB">
				<div class="row shadow-lg mb-4" >
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body" style="padding-left: 5px;padding-top: 10px;padding-right: 5px;padding-bottom: 5px;">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12" style="padding-left: 25px;">
										<table class="table-sm table-bordered"
											style="border: 2px solid black; height: 400px;">
											<thead>
												<tr style="color: #ffffff" id="grad3">
													<th>Account Name</th>
													<th>PFY-Q4</th>
													<th>CFY-Q1</th>
													<th>CFY-Q2</th>
													<th>CFY-Q3</th>
													<th>CFY-Q4</th>
													<th>CFY-TOT</th>
													<th>NFY-Q1</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="rev in revProjectionData" ng-switch on="rev.category" >
													<td >
														 <span ng-switch-when="a-Target"><b>{{rev.category.substring(rev.category.indexOf("-")+1,rev.category.length)}}</b></span>
														 <span ng-switch-when="j-Upside(P3)"><b>{{rev.category.substring(rev.category.indexOf("-")+1,rev.category.length)}}</b></span>
														 <span ng-switch-when="k-Pipeline(P0 to P2)"><b>{{rev.category.substring(rev.category.indexOf("-")+1,rev.category.length)}}</b></span>
														 <span ng-switch-when="f-ForeCast"><b>{{rev.category.substring(rev.category.indexOf("-")+1,rev.category.length)}}</b></span>
														 <span ng-switch-when="l-Achievement %"><b>{{rev.category.substring(rev.category.indexOf("-")+1,rev.category.length)}}</b></span>
														 <span ng-switch-default>{{rev.category.substring(rev.category.indexOf("-")+1,rev.category.length)}}</span>
													</td>
													<td></td>
													<td style="text-align: right;">
														 <span ng-switch-when="a-Target"><b>{{(rev.cfyQOne).toFixed(3)}}</b></span>
														 <span ng-switch-when="j-Upside(P3)"><b>{{(rev.cfyQOne).toFixed(3)}}</b></span>
														 <span ng-switch-when="k-Pipeline(P0 to P2)"><b>{{(rev.cfyQOne).toFixed(3)}}</b></span>
														 <span ng-switch-when="f-ForeCast"><b>{{(rev.cfyQOne).toFixed(3)}}</b></span>
														 <span ng-switch-when="l-Achievement %"><b>{{(rev.cfyQOne).toFixed(2)}}</b></span>
														 <span ng-switch-default>{{(rev.cfyQOne).toFixed(3)}}</span>
													</td>
													<td style="text-align: right;">
														 <span ng-switch-when="a-Target"><b>{{(rev.cfyQTwo).toFixed(3)}}</b></span>
														 <span ng-switch-when="j-Upside(P3)"><b>{{(rev.cfyQTwo).toFixed(3)}}</b></span>
														 <span ng-switch-when="k-Pipeline(P0 to P2)"><b>{{(rev.cfyQTwo).toFixed(3)}}</b></span>
														 <span ng-switch-when="f-ForeCast"><b>{{(rev.cfyQTwo).toFixed(3)}}</b></span>
														 <span ng-switch-when="l-Achievement %"><b>{{(rev.cfyQTwo).toFixed(2)}}</b></span>
														 <span ng-switch-default>{{(rev.cfyQTwo).toFixed(3)}}</span>
													</td>
													<td style="text-align: right;">
														 <span ng-switch-when="a-Target"><b>{{(rev.cfyQThree).toFixed(3)}}</b></span>
														 <span ng-switch-when="j-Upside(P3)"><b>{{(rev.cfyQThree).toFixed(3)}}</b></span>
														 <span ng-switch-when="k-Pipeline(P0 to P2)"><b>{{(rev.cfyQThree).toFixed(3)}}</b></span>
														 <span ng-switch-when="f-ForeCast"><b>{{(rev.cfyQThree).toFixed(3)}}</b></span>
														 <span ng-switch-when="l-Achievement %"><b>{{(rev.cfyQThree).toFixed(2)}}</b></span>
														 <span ng-switch-default>{{(rev.cfyQThree).toFixed(3)}}</span>
													</td>
													<td style="text-align: right;">
														 <span ng-switch-when="a-Target"><b>{{(rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="j-Upside(P3)"><b>{{(rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="k-Pipeline(P0 to P2)"><b>{{(rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="f-ForeCast"><b>{{(rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="l-Achievement %"><b>{{(rev.cfyQFour).toFixed(2)}}</b></span>
														 <span ng-switch-default>{{(rev.cfyQFour).toFixed(3)}}</span>
													</td>
													<td style="text-align: right;">
														 <span ng-switch-when="a-Target"><b>{{(rev.cfyQOne+rev.cfyQTwo+rev.cfyQThree+rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="j-Upside(P3)"><b>{{(rev.cfyQOne+rev.cfyQTwo+rev.cfyQThree+rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="k-Pipeline(P0 to P2)"><b>{{(rev.cfyQOne+rev.cfyQTwo+rev.cfyQThree+rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="f-ForeCast"><b>{{(rev.cfyQOne+rev.cfyQTwo+rev.cfyQThree+rev.cfyQFour).toFixed(3)}}</b></span>
														 <span ng-switch-when="l-Achievement %"><b>{{((rev.cfyQOne+rev.cfyQTwo+rev.cfyQThree+rev.cfyQFour)/4).toFixed(2)}}</b></span>
														 <span ng-switch-default>{{(rev.cfyQOne+rev.cfyQTwo+rev.cfyQThree+rev.cfyQFour).toFixed(3)}}</span>
													</td>
													
													<td></td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body" style="padding-bottom: 5px;padding-top: 9px;">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12" style=" height: 400px;">
										<hc-chart options="chartOBForecast"></hc-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="py-2" id="section44" ng-show="showProjects">
				<div class="row shadow-md mb-4">
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<hc-pie-chart title="Project Type" data="pieFrPtch"></hc-pie-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-chart options="chartOptionsHtr"></hc-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="py-2" id="section55" ng-show="showAssociates">
				<div class="row shadow-lg mb-4">
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<!-- <div class="col-lg-5">
			                        <span class="text-muted small"><b>Delivery Ownership</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div> -->
									<div class="col-lg-12">
										<!-- <canvas id="doughnutown" class="chart chart-doughnut" chart-colors="piManColors"  chart-data="cManDataPi" chart-labels="tManLabelsPi"></canvas> -->
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<!-- <div class="col-lg-3">
			                        <span class="text-muted small"><b>Project Type</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div> -->
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-chart options="chartOptionsOnOff"></hc-chart>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="card shadow-lg mb-3">
			                  <div class="card-body ">
			                    <div class="row align-items-center flex-row">
			                      <div class="col-lg-5">
			                        <span class="text-muted small"><b>Project Status</b></span><span class="dot bg-green d-inline-block ml-3"></span>
			                      </div>
			                      <div class="col-lg-12">
			                        <canvas id="doughnutstatus" class="chart chart-doughnut" chart-colors ="piStatusColors" chart-data="statusDataPi" chart-labels="statusLabelsPi"></canvas> 
			                      	 <hc-pie-chart title="Band Distribution" data="pieFrBand"></hc-pie-chart>
			                      </div>
			                    </div>
			                  </div>
			                </div> -->
					</div>
				</div>
			</section>
			<section class="py-2" id="section66" ng-show="showPnL">
				<div class="row shadow-lg mb-4">
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<!-- <div class="col-lg-3">
				                        <span class="text-muted small"><b>Project Tech</b></span><span class="dot bg-green d-inline-block ml-3"></span>
				                      </div> -->
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" style="max-height: 25rem !important;" chart-data="prjTechCnt" chart-labels="prjTech" ></canvas>   -->
										<!-- <hc-chart options="chartProjRevenue"></hc-chart> -->
										<table class="table-sm table-bordered" style="border:2px solid black;height: 400px; font-size:1.1rem" >
										    <thead >
											<tr style="text-align: center; color: #ffffff;" id="grad1">
										        <th style="width:15%;text-align: center;" rowspan="2" id="grad3"></th>
										        <th colspan="4" style="text-align: center;">CFY-Q1</th>
												<th colspan="4" style="text-align: center;">CFY-Q2</th>
												<th colspan="4" style="text-align: center;">CFY-Q3</th>
										        <th colspan="4" style="text-align: center;">CFY-Q4</th>
												<th rowspan="2" id="grad3">Total</th>
										      </tr>

										      <tr style="color: #ffffff;" id="grad2">
										        	
										        <th style="width:4%;text-align: center;">Apr</th>
										        <th style="width:4%;text-align: center;">May</th>
												<th style="width:4%;text-align: center;">Jun</th>
												<th style="width:4%;text-align: center;">Q1</th>
												<th style="width:4%;text-align: center;">Jul</th>
												<th style="width:4%;text-align: center;">Aug</th>
												<th style="width:4%;text-align: center;">Sep</th>
												<th style="width:4%;text-align: center;">Q2</th>
												<th style="width:4%;text-align: center;">Oct</th>
												<th style="width:4%;text-align: center;">Nov</th>	
										        <th style="width:4%;text-align: center;">Dec</th>
										        <th style="width:4%;text-align: center;">Q3</th>
										        <th style="width:4%;text-align: center;">Jan</th>
												<th style="width:4%;text-align: center;">Feb</th>
												<th style="width:4%;text-align: center;">Mar</th>
												<th style="width:4%;text-align: center;">Q4</th>
										      </tr>
										    </thead>
										    <tbody>
												<tr style="text-align: center;" ng-repeat="pnlData in pnlSummaryData" ng-switch on="pnlData.attribute">
											        <td style="text-align: left;">
											       	 <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.attribute}}</b></span>
											       	 <span ng-switch-when="ONSITE #" style="padding-left: 10px">{{pnlData.attribute}}</span>
											       	 <span ng-switch-when="OFFSHORE #" style="padding-left: 10px">{{pnlData.attribute}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{pnlData.attribute}}</b></span>
											       	 <span ng-switch-when="DIRECT COST"><b>{{pnlData.attribute}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{pnlData.attribute}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{pnlData.attribute}}</span>
											       	 <span ng-switch-when="BUFFER COST" style="padding-left: 10px">{{pnlData.attribute}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{pnlData.attribute}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{pnlData.attribute}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{pnlData.attribute}}</b></span>
											        </td>
											        <td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monApr ===0 ? '' : pnlData.monApr}}</b></span>
											         <span ng-switch-when="ONSITE #" style="padding-left: 10px">  {{pnlData.monApr ===0 ? '' : pnlData.monApr}}</span>
											       	 <span ng-switch-when="OFFSHORE #" style="padding-left: 10px">{{pnlData.monApr ===0 ? '' : pnlData.monApr}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monApr/1000000).toFixed(3) ==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST"  ><b>{{(pnlData.monApr/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monApr/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monApr/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST" style="padding-left: 10px">{{(pnlData.monApr/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monApr/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monApr/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monApr/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monApr).toFixed(2)==='0.00' ? '' : pnlData.monApr.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monMay===0 ? '' : pnlData.monMay}}</b></span>
											         <span ng-switch-when="ONSITE #" style="padding-left: 10px">{{pnlData.monMay===0 ? '' : pnlData.monMay}}</span>
											       	 <span ng-switch-when="OFFSHORE #" style="padding-left: 10px">{{pnlData.monMay===0 ? '' : pnlData.monMay}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monMay/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMay/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monMay).toFixed(2)==='0.00' ? '' : pnlData.monMay.toFixed(2)}}</b></span>
											       	</td>
											       	
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monJun===0 ? '' : pnlData.monJun}}</b></span>
											         <span ng-switch-when="ONSITE #">{{pnlData.monJun===0 ? '' : pnlData.monJun}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monJun===0 ? '' : pnlData.monJun}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monJun/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJun/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monJun).toFixed(2)==='0.00' ? '' : pnlData.monJun.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;" id="Q1">
											         <span ng-switch-when="HEAD COUNT #"><b></b></span>
											         <span ng-switch-when="ONSITE #"></span>
											       	 <span ng-switch-when="OFFSHORE #"></span>
											       	 <span ng-switch-when="REVENUE"><b></b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b></b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px"></span>
											       	 <span ng-switch-when="SGNA COST"><b></b></span>
											       	 <span ng-switch-when="EBIDTA"></span>
											       	 <span ng-switch-when="EBIDTA(%)"><b></b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monJul===0 ? '' : pnlData.monJul}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monJul===0 ? '' : pnlData.monJul}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monJul===0 ? '' : pnlData.monJul}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monJul/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJul/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monJul).toFixed(2)==='0.00' ? '' : pnlData.monJul.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monAug===0 ? '' : pnlData.monAug}}</b></span>
											         <span ng-switch-when="ONSITE #">{{pnlData.monAug===0 ? '' : pnlData.monAug}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monAug===0 ? '' : pnlData.monAug}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST" style="padding-left: 10px">{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monAug/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monAug/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monAug).toFixed(2)==='0.00' ? '' : pnlData.monAug.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monSep===0 ? '' : pnlData.monSep}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monSep===0 ? '' : pnlData.monSep}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monSep===0 ? '' : pnlData.monSep}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monSep/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monSep/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monSep).toFixed(2)==='0.00' ? '' : pnlData.monSep.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;" id="Q2">
											         <span ng-switch-when="HEAD COUNT #"><b></b></span>
											         <span ng-switch-when="ONSITE #"></span>
											       	 <span ng-switch-when="OFFSHORE #"></span>
											       	 <span ng-switch-when="REVENUE"><b></b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b></b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px"></span>
											       	 <span ng-switch-when="SGNA COST"><b></b></span>
											       	 <span ng-switch-when="EBIDTA"></span>
											       	 <span ng-switch-when="EBIDTA(%)"><b></b></span>
											       	</td>
											       	<td style="text-align: right;">
											        <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monOct===0 ? '' : pnlData.monOct}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monOct===0 ? '' : pnlData.monOct}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monOct===0 ? '' : pnlData.monOct}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST"  ><b>{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST" style="padding-left: 10px">{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monOct/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monOct/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monOct).toFixed(2)==='0.00' ? '' : pnlData.monOct.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monNov===0 ? '' : pnlData.monNov}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monNov===0 ? '' : pnlData.monNov}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monNov===0 ? '' : pnlData.monNov}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST"  style="padding-left: 10px">{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monNov/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monNov/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monNov).toFixed(2)==='0.00' ? '' : pnlData.monNov.toFixed(2)}}</b></span> 
											       	</td>
											       	<td style="text-align: right;">
											        <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monDec===0 ? '' : pnlData.monDec}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monDec===0 ? '' : pnlData.monDec}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monDec===0 ? '' : pnlData.monDec}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST"  style="padding-left: 10px">{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST"  style="padding-left: 10px">{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monDec/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monDec/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monDec).toFixed(2)==='0.00' ? '' : pnlData.monDec.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;" id="Q3">
											         <span ng-switch-when="HEAD COUNT #"><b></b></span>
											         <span ng-switch-when="ONSITE #"></span>
											       	 <span ng-switch-when="OFFSHORE #"></span>
											       	 <span ng-switch-when="REVENUE"><b></b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b></b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px"></span>
											       	 <span ng-switch-when="SGNA COST"><b></b></span>
											       	 <span ng-switch-when="EBIDTA"></span>
											       	 <span ng-switch-when="EBIDTA(%)"><b></b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monJan===0 ? '' : pnlData.monJan}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monJan===0 ? '' : pnlData.monJan}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monJan===0 ? '' : pnlData.monJan}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monJan/1000000).toFixed(3)==='0.000'?'' : (pnlData.monJan/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST"  ><b>{{(pnlData.monJan/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJan/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px">{{(pnlData.monJan/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJan/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px">{{(pnlData.monJan/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJan/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST" style="padding-left: 10px">{{(pnlData.monJan/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJan/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monJan/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJan/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monJan/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monJan/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monJan).toFixed(2)==='0.00' ? '' : pnlData.monJan.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monFeb===0 ? '' : pnlData.monFeb}}</b></span>
											         <span ng-switch-when="ONSITE #">{{pnlData.monFeb===0 ? '' : pnlData.monFeb}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monFeb===0 ? '' : pnlData.monFeb}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST"  style="padding-left: 10px">{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST"  style="padding-left: 10px">{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monFeb/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monFeb/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monFeb).toFixed(2)==='0.00' ? '' : pnlData.monFeb.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.monMar===0 ? '' : pnlData.monMar}}</b></span>
											         <span ng-switch-when="ONSITE #">  {{pnlData.monMar===0 ? '' : pnlData.monMar}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.monMar===0 ? '' : pnlData.monMar}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST"  style="padding-left: 10px">{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST"  style="padding-left: 10px">{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.monMar/1000000).toFixed(3)==='0.000' ? '' : (pnlData.monMar/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.monMar).toFixed(2)==='0.00' ? '' : pnlData.monMar.toFixed(2)}}</b></span>
											       	</td>
											       	<td style="text-align: right;" id="Q4">
											         <span ng-switch-when="HEAD COUNT #"><b></b></span>
											         <span ng-switch-when="ONSITE #"></span>
											       	 <span ng-switch-when="OFFSHORE #"></span>
											       	 <span ng-switch-when="REVENUE"><b></b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b></b></span>
											       	 <span ng-switch-when="CNB COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="TNL COST" style="padding-left: 10px"></span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px"></span>
											       	 <span ng-switch-when="SGNA COST"><b></b></span>
											       	 <span ng-switch-when="EBIDTA"></span>
											       	 <span ng-switch-when="EBIDTA(%)"><b></b></span>
											       	</td>
											       	<td style="text-align: right;">
											         <span ng-switch-when="HEAD COUNT #"><b>{{pnlData.total===0 ? '' : pnlData.total}}</b></span>
											         <span ng-switch-when="ONSITE #">{{pnlData.total===0 ? '' : pnlData.total}}</span>
											       	 <span ng-switch-when="OFFSHORE #">{{pnlData.total===0 ? '' : pnlData.total}}</span>
											       	 <span ng-switch-when="REVENUE"><b>{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="DIRECT COST" ><b>{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="CNB COST"  style="padding-left: 10px">{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="TNL COST"  style="padding-left: 10px">{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="BUFFER COST"  style="padding-left: 10px">{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="SGNA COST"><b>{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</b></span>
											       	 <span ng-switch-when="EBIDTA">{{(pnlData.total/1000000).toFixed(3)==='0.000' ? '' : (pnlData.total/1000000).toFixed(3)}}</span>
											       	 <span ng-switch-when="EBIDTA(%)"><b>{{(pnlData.total).toFixed(2)==='0.00' ? '' : (pnlData.total).toFixed(2)}}</b></span>
											       	</td>
												</tr>
										    </tbody>
										  </table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mb-4 mb-lg-0 pl-lg-0">
						<div class="card shadow-lg mb-3">
							<div class="card-body">
								<div class="row align-items-center flex-row">
									<div class="col-lg-12">
										<!-- <canvas id="base" class="chart chart-pie" chart-data="prjTypeCnt" chart-labels="prjType" ></canvas>   -->
										<hc-chart options="chartProjRevenue"></hc-chart>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<footer
			class="footer shadow-lg bg-maroon align-self-end py-3 px-xl-5 w-100">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 text-center text-md-left text-primary">
						<p class="mb-2 mb-md-0">Tech Mahindra &copy;</p>
					</div>
					<div class="col-md-6 text-center text-md-right text-gray-400">
						<p class="mb-0">
							Design by <a href="https://Tech Mahindra.com/admin-templates"
								class="external text-gray-400">Techmahindra</a>
						</p>
						<!-- Please do not remove the backlink to us unless you support further theme's development at https://Tech Mahindra.com/donate. It is part of the license conditions. Thank you for understanding :)-->
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>