<!-- <div class=" col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <div class="col-md-12">
                <form ng-submit="login()">
                    <div class="form-group">
                        <label for="username">Username:</label> <input type="txt"
                                                                       class="form-control" ng-model="username"
                                                                       id="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label> <input type="password"
                                                                  class="form-control" id="pwd" ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    <button class="btn btn-default" ui-sref="register">Register</button>

                    <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div  ng-controller="LoginController">
<div class="page-holder d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center py-5">
			<div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
				<div class="pr-lg-5">
					<img src="img/illustration.svg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-5 px-lg-4">
				<h1 class="text-base text-primary text-uppercase mb-4">PM
					Dashboard</h1>
				<h2 class="mb-4">Welcome back!</h2>
				<p class="text-muted">PM Dashboard</p>
				<form id="loginForm" class="mt-4">
					<div class="form-group mb-4">
						<!--<input class="form-control" id="username" placeholder="Email or Username" name="validation[email]" type="text" data-validation="[EMAIL]"/>-->
						<input type="text" id="username" ng-model="username"
							placeholder="Username or Email address"
							class="form-control border-0 shadow form-control-lg">
					</div>
					<div class="form-group mb-4">
						<!--   <input class="form-control password" id="password" name="validation[password]"  type="password"  data-validation="[L>=6]"  data-validation-message="$ must be at least 6 characters"
                  placeholder="Password" /> -->
						<input type="password" id="password" placeholder="Password"
							ng-model="password"
							class="form-control border-0 shadow form-control-lg text-violet">
					</div>
					<!-- <div class="form-group mb-4">
						<div class="custom-control custom-checkbox">
							<input id="customCheck1" type="checkbox"
								class="custom-control-input" /> <label for="customCheck1"
								zclass="custom-control-label">Remember Me</label>
						</div>
					</div> -->
					<div ng-if="showdropdown">
						Select a Role 
						<br/>
						<br/>
						<select name="users" ng-options="roles as roles.id for roles in roleList" ng-model="MyData" ng-change="getselectval(MyData)">
						</select>
					</div>
					<div ng-show="showlogin">

						<button ng-click="login()" class="btn btn-primary shadow px-5">Log
							in</button>
					</div>
					<div ng-if="showenter">
					    <br/>
						<br/>
						<button ng-click="enterApp()" class="btn btn-primary shadow px-5">Enter</button>
					</div>



				</form>
			</div>
		</div>
		<p class="mt-5 mb-0 text-gray-400 text-center">
			Design by <a href="https://Tech Mahindra.com/admin-templates"
				class="external text-gray-400">Tech Mahindra</a> & Your company
		</p>
		<!-- Please do not remove the backlink to us unless you support further theme's development at https://Tech Mahindra.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
	</div>
</div>
</div>