<style>
#logDiv {
	background: url('img/landing.jpg') no-repeat;
	background-size: 100% 100%;
}
</style>
<div ng-controller="LoginController" id="logDiv" style="width: 100%"
	class="ng-scope">
	<div class="page-holder d-flex align-items-center">
		<div class="container" style="margin-top: 20px;margin-right: 17px;margin-left: 130px;margin-bottom: 100px;">
			<div class="row align-items-center py-6">
				
				<div class="col-lg-5 px-lg-6" style="width: 449px;margin-bottom: 200px;">
					<h1 class="text-base text-primary text-uppercase mb-4" style="
    margin-bottom: 30px;
">PM
						Dashboard</h1>
					<h2 class="mb-4">Welcome back!</h2>
					<form id="loginForm" class="mt-4 ng-valid ng-dirty ng-valid-parse">
						<div class="form-group mb-4" style="width: 240px;">
							<!--<input class="form-control" id="username" placeholder="Email or Username" name="validation[email]" type="text" data-validation="[EMAIL]"/>-->
							<input type="text" id="username" ng-model="username" ng-disabled="disablelogin" placeholder="Username or Email address" class="form-control border-0 shadow form-control-lg ng-valid ng-touched ng-not-empty ng-dirty ng-valid-parse">
						</div>
						<div class="form-group mb-4" style="width: 240px;">
							<!--   <input class="form-control password" id="password" name="validation[password]"  type="password"  data-validation="[L>=6]"  data-validation-message="$ must be at least 6 characters"
                  placeholder="Password" /> -->
							<input type="password" id="password" placeholder="Password" ng-model="password" ng-disabled="disablelogin" class="form-control border-0 shadow form-control-lg text-violet ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
						</div>
						
						<div ng-show="showdropdown" class="ng-hide">

							<div class="form-group mb-4" style="width: 240px;">
								<b>Select a Role:</b><select class="form-control border-0 shadow form-control-lg ng-pristine ng-untouched ng-valid ng-empty" name="users" ng-options="roles as roles.id for roles in roleList" ng-model="MyData" ng-change="getselectval(MyData)"><option value="?" selected="selected"></option></select>

							</div>

						</div>
						<div ng-show="showlogin">

							<button ng-click="login()" class="btn btn-primary shadow px-5">Log
								in</button>
						</div>
						<div ng-show="showenter" class="ng-hide">
							<br> <br>
							<button ng-click="enterApp()" class="btn btn-primary shadow px-5">Enter</button>
							<button ng-click="resetLogin()" class="btn btn-primary shadow px-5">Reset</button>
						</div>
					</form>
				</div>
			</div>
			<p class="mt-5 mb-0 text-gray-400 text-center">
				Design by <a href="https://Tech Mahindra.com/admin-templates" class="external text-gray-400">Tech Mahindra</a> &amp; Your company
			</p>
			<!-- Please do not remove the backlink to us unless you support further theme's development at https://Tech Mahindra.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
		</div>
	</div>
</div>