<style>
    .user {
        font-weight: bold;
    }

    .logout {
        cursor: pointer;
        margin-left: 5px;
    }
</style>

<!-- <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">PMOx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="user.username"><a ui-sref="users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li ng-show="user.username"><a> <span class="user">Hi,
							{{user.name}}</span> <span ng-click="logout()" href=""
                                                       class="logout">Logout</span>
                </a></li>
                <li ng-show="!user.username"><a ui-sref="register">Register</a></li>
            </ul>
        </div>
        /.nav-collapse
    </div>
</nav>  -->

<style>
    .user {
        font-weight: bold;
    }

    .logout {
        cursor: pointer;
        margin-left: 5px;
    }
    .nav a{
            color: white !important;
            font-size: 4.8em !important;
        }
    .text-base {
    	font-size: 1.35rem !important;
	}
</style>
<nav class="navbar navbar-expand-lg px-6 py-2 bg-white shadow" style="margin-bottom: 0px;" ><a ng-click="clickNavBar()" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a ng-click="scrollTo('home')" class="navbar-brand font-weight-bold text-uppercase text-base">PMo Dashboard</a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
          <li class="nav-item">
            <form id="searchForm" class="ml-auto d-none d-lg-block">
              <div class="form-group position-relative mb-0">
                <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                <input type="search" placeholder="Search ..." class="form-control form-control-sm border-2 no-shadow pl-4">
              </div>
            </form>
          </li>
          <li class="nav-item dropdown mr-3"><a id="notifications" ng-click="scrollTo('home')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-gray-400 px-1"><i class="fa fa-bell"></i><span class="notification-icon"></span></a>
            <div aria-labelledby="notifications" class="dropdown-menu"><a ng-click="scrollTo('home')" class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0">You have 2 followers {{user.name}}</p>
                  </div>
                </div></a><a ng-click="scrollTo('home')" class="dropdown-item"> 
                <div class="d-flex align-items-center">
                  <div class="icon icon-sm bg-green text-white"><i class="fas fa-envelope"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0">You have 6 new messages</p>
                  </div>
                </div></a><a ng-click="scrollTo('home')" class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="icon icon-sm bg-blue text-white"><i class="fas fa-upload"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0">Server rebooted</p>
                  </div>
                </div></a><a ng-click="scrollTo('home')" class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div>
                  <div class="text ml-2">
                    <p class="mb-0">You have 2 followers</p>
                  </div>
                </div></a>
              <div class="dropdown-divider"></div><a ng-click="scrollTo('home')" class="dropdown-item text-center"><small class="font-weight-bold headings-font-family text-uppercase">View all notifications</small></a>
            </div>
          </li>
          <li class="nav-item dropdown ml-auto"><a id="userInfo" ng-click="scrollTo('home')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="img/avatar-6.jpg" alt="{{user.name}}" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a ng-click="scrollTo('home')" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">{{user.name}}</strong><small>{{user.role[0].roleName}}</small></a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div><a ng-click="logout()" href="" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </nav>