<html>

<nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow"><a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="index.html" class="navbar-brand font-weight-bold text-uppercase text-base">Project Dashboard</a>

<form id="searchForm" class="ml-auto d-none d-lg-block">
              <div class="form-group position-relative mb-0">
                <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                <input type="search" placeholder="Search ..." class="form-control form-control-sm border-2 no-shadow pl-4">
              </div>
            </form>
            </nav>
            
            <span style="display: block; height: 30px;"></span>
            <li>{{users}}</li>
            <table>
                  <thead>
                  <tr>
                  <th>projectname</th>
                  <th>Projectdescription</th>
                  </tr>
                  </thead>
                  <!-- <tbody ng-repeat="prj in projects">
                  <tr>
                    
                  </tr>
                  </tbody> -->
            
            
            </table>
            
            
            
            
            




</html>